@charset "utf-8";

body {
    font-size: 14px;
    font-family: 'Renner*', 'M+ Type-1 (general-j) Light', 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #3f4c5d;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

.search-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c8c4d6;
}

.search-bar-btn {
    width: 30px;
    padding: 13px;
}

.search-bar-btn__icon {
    display: block;
    background-image: url(../images/sprite-search-bar.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
}

.search-bar__title {
    width: 100%;
    margin-left: 56px;
    text-align: center;
    font-weight: bold;
    color: #969696;
}

.tab {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 6px #000;
}

.tab-list {
    display: flex;
    justify-content: space-around;
}

.tab-list-item {
    width: 25%;
}

.tab-list-item-inner {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    padding: 15px 11px;
    background-image: url(../images/sprite-tab-bar.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
}

.tab-list-item-inner.is_home {
    background-position: 0 0px;
}

.tab-list-item-inner.is_search {
    background-position: 0 -26px;
}

.tab-list-item-inner.is_favorite {
    background-position: 0 -52px;
}

.tab-list-item-inner.is_history {
    background-position: 0 -78px;
}

.tab-list-item-inner.is_setting {
    background-position: 0 -104px;
}

@media screen and (min-width: 768px) {
    .search-bar-btn {
        width: 30px;
        padding: 15px 20px;
    }

    .search-bar__title {
        font-size: 22px;
        margin-left: 70px;
    }

    .tab-list-item-inner {
        width: 30px;
        height: 30px;
        padding: 15px 40px;
        background-size: 30px;
    }

    .tab-list-item-inner.is_home {
        background-position: 0 0px;
    }

    .tab-list-item-inner.is_search {
        background-position: 0 -30px;
    }

    .tab-list-item-inner.is_favorite {
        background-position: 0 -60px;
    }

    .tab-list-item-inner.is_history {
        background-position: 0 -90px;
    }

    .tab-list-item-inner.is_setting {
        background-position: 0 -120px;
    }
}
