@charset "utf-8";

.search-bar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 8px 0 64px;
    background-color: #e2e5e6;
    border-radius: 14px;
}

.search-bar-box__input {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
    background-color: #e2e5e6;
    border: none;
    border-radius: 14px 0 0 14px;
    font-size: 16px;
    color: #969696;
}

.search-bar-box__btn {
    width: 40px;
    height: 28px;
    padding: 4px 8px;
    background: #e2e5e6;
    background-image: url(../images/sprite-search-bar.png);
    background-size: 20px;
    background-position: 0 -20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    border: none;
}

.search-bar-btn__icon.is_secondary.is_conditions {
    position: relative;
}

.search-bar-btn__icon.is_secondary.is_conditions:before {
    position: absolute;
    top: 0;
    right: -2px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #ff9600;
    border-radius: 4px;
}

.tab-category-list {
    position: fixed;
    top: 57px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    font-weight: 300;
}

.tab-category-list-item {
    padding: 5px 8px;
    background-color: #ff9600;
    border-radius: 11px;
    font-size: 12px;
    color: #fff;
}

.content {
    position: relative;
    padding-top: 118px;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding-right: 8px;
    font-weight: 400;
}

.result-list-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 0 0 16px 8px;
}

.result-list-item-inner {
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

.result-list-item__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.result-list-item-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

.result-list-item-data-summary {
    display: flex;
}

.result-list-item-data-summary__icon {
    display: block;
    width: 22px;
    height: 22px;
    margin-left: 4px;
    background-image: url(../images/sprite-icon-conditions.png);
    background-size: 22px;
}

.result-list-item-data-summary__icon.is_time {
    background-position: 0 0;
    margin-left: 0;
}

.result-list-item-data-summary__icon.is_value {
    background-position: 0 -22px;
}

.result-list-item-data-summary__icon.is_fee {
    background-position: 0 -44px;
}

.result-list-item-data__price {
    font-size: 16px;
}

.result-list-item__btn {
    position: absolute;
    bottom: 50px;
    left: 8px;
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    padding: 8px;
    background-image: url(../images/sprite-tab-bar.png);
    background-size: 22px;
    background-position: 0 -132px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    opacity: 0.6;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    width: calc(100% - 32px);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s, visibility 0s ease 0.2s;
    animation: feadout 0.2s ease;
}

.dialog-thumbnail {
    position: relative;
}

.dialog__btn-cancel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    content: '';
    width: 20px;
    height: 20px;
    padding: 8px;
    background-image: url(../images/sprite-tab-bar.png);
    background-size: 20px;
    background-position: 0 -140px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    opacity: 0.6;
}

.dialog-thumbnail__btn.is_favorite {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 26px;
    height: 26px;
    padding: 8px;
    background-image: url(../images/sprite-tab-bar.png);
    background-size: 26px;
    background-position: 0 -156px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    opacity: 0.6;
}

.dialog-thumbnail__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.dialog-data {
    padding: 16px 8px 8px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
}

.dialog-data__title {
    font-size: 24px;
}

.dialog-stepper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dialog-stepper__btn {
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: #fff;
    border: 2px solid #b2b2b2;
    border-radius: 24px;
    font-size: 24px;
    color: #b2b2b2;
    cursor: pointer;
}

.dialog-stepper__btn.is_reduce {
    border: 2px solid #d8d8d8;
    color: #d8d8d8;
}

.dialog-stepper__input {
    width: 20px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    font-size: 16px;
}

.dialog-data-summary {
    display: flex;
    margin-top: 16px;
}

.dialog-data-summary__icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 16px;
    background-image: url(../images/sprite-icon-conditions.png);
    background-size: 30px;
}

.dialog-data-summary__icon.is_time {
    background-position: 0 0;
    margin-left: 0;
}

.dialog-data-summary__icon.is_value {
    background-position: 0 -30px;
}

.dialog-data-summary__icon.is_fee {
    background-position: 0 -60px;
}

.dialog-data-summary__text {
    margin-left: auto;
    font-size: 24px;
    font-weight: 500;
}

.dialog__submit {
    width: 100%;
    margin-top: 8px;
    padding: 16px 0;
    background-color: #ff9600;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 120%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.2s, visibility 0s ease 0.2s;
}

.dialog-overlay-display {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.dialog-display {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    animation: feadin 0.2s ease;
}

.tab-list-item-inner.is_search {
    background-position: 0 -130px;
}

@keyframes feadin {
    from {
        transform: translate(-50%, -47%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes feadout {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        transform: translate(-50%, -47%);
    }
}

@media screen and (min-width: 768px) {
    .search-bar-box {
        margin: 0 16px 0 86px;
        padding-left: 16px;
        border-radius: 18px;
    }

    .search-bar-box__input {
        font-size: 22px;
        padding: 4px 0;
    }

    .search-bar-box__btn {
        width: 60px;
        padding: 4px 18px;
    }

    .tab-category-list {
        top: 61px;
        justify-content: flex-start;
        height: 60px;
        padding: 0 20px;
    }

    .tab-category-list-item {
        margin-left: 16px;
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 16px;
    }

    .tab-category-list-item:first-child {
        margin-left: 0;
    }

    .content {
        padding-top: 137px;
    }

    .result-list {
        padding-right: 16px;
    }

    .result-list-item {
        padding: 0 0 16px 16px;
    }

    .result-list-item-inner {
        border-radius: 12px;
        box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
    }

    .result-list-item-inner:before {
        bottom: 42px;
        left: 8px;
        width: 22px;
        height: 22px;
        background-size: 22px;
        background-position: 0 -132px;
    }

    .result-list-item__image {
        border-radius: 12px 12px 0 0;
    }

    .result-list-item-data {
        padding: 8px 16px;
        border-radius: 0 0 12px 12px;
    }

    .result-list-item-data-summary__icon {
        width: 26px;
        height: 26px;
        margin-left: 16px;
        background-size: 26px;
    }

    .result-list-item-data-summary__icon.is_time {
        background-position: 0 0;
        margin-left: 0;
    }

    .result-list-item-data-summary__icon.is_value {
        background-position: 0 -26px;
    }

    .result-list-item-data-summary__icon.is_fee {
        background-position: 0 -52px;
    }

    .result-list-item-data__price {
        font-size: 22px;
    }

    .result-list-item__btn {
        bottom: 58px;
        left: 16px;
        width: 30px;
        height: 30px;
        padding: 15px;
        background-size: 30px;
        background-position: 0 -180px;
    }

    .dialog {
        width: calc(100% - 112px);
    }

    .dialog__btn-cancel {
        width: 30px;
        height: 30px;
        padding: 15px;
        background-image: url(../images/sprite-tab-bar.png);
        background-size: 30px;
        background-position: 0 -210px;
    }

    .dialog-thumbnail__btn.is_favorite {
        width: 36px;
        height: 36px;
        padding: 12px;
        background-size: 36px;
        background-position: 0 -216px;
    }

    .dialog-data {
        padding: 32px 16px 16px;
    }

    .dialog-data__title {
        font-size: 32px;
    }

    .dialog-stepper {
        margin-top: 24px;
    }

    .dialog-stepper__btn {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 32px;
    }

    .dialog-stepper__btn.is_reduce {
        border: 2px solid #d8d8d8;
        color: #d8d8d8;
    }

    .dialog-stepper__input {
        width: 30px;
        padding: 0 16px;
        font-size: 24px;
    }

    .dialog-data-summary {
        margin-top: 24px;
    }

    .dialog-data-summary__icon {
        margin-left: 24px;
    }

    .dialog-data-summary__icon.is_time {
        margin-left: 0;
    }

    .dialog-data-summary__text {
        font-size: 32px;
    }

    .dialog__submit {
        margin-top: 16px;
        padding: 16px 0;
        border-radius: 8px;
        font-size: 24px;
    }

    .tab-list-item-inner.is_search {
        background-position: 0 -150px;
    }
}
